<a href="https://colab.research.google.com/github/Lilwm/Apache_Spark_Dataframes/blob/main/Spark_SQL_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

As a Data professional, you need to perform an analysis by answering questions about
some stock market data on Safaricom from the years 2012-2017.

#1. Data Importation and Exploration

* Start a spark session and load the stock file while inferring the data types
Determine the column names
* Make observations about the schema.
* Show the first 5 rows
* Use the describe method to learn about the data frame

In [ ]:
#Start a spark session and load the stock file while inferring the data types.
!pip install pyspark

#Determine the column names
#Make observations about the schema.
#Show the first 5 rows
#Use the describe method to learn about the data frame

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 3.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 10.1 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=806f54d62246e19d1b9b481efc8fcbc776e677e10209869c3f9f2d557830e009
  Stored in directory: /root/.cache/pip/wheels/b1/59/a0/a1a0624b5e865fd389919c1a10f53aec9b12195d6747710baf
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [33]:
#run a spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("ReadCSV").getOrCreate()
sc = spark.sparkContext

In [41]:
#data exploration
from pyspark.sql import SQLContext
from pyspark import SparkFiles

df = spark.read.csv("saf_stock.csv", header=True, inferSchema=True)
# Determine the column names
print(f" Column Names : {df.columns} \n \n")
#

 Column Names : ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']


+-------------------+------------------+---------+---------+------------------+--------+------------------+
|               Date|              Open|     High|      Low|             Close|  Volume|         Adj Close|
+-------------------+------------------+---------+---------+------------------+--------+------------------+
|2012-01-03 00:00:00|         59.970001|61.060001|59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04 00:00:00|60.209998999999996|60.349998|59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05 00:00:00|         59.349998|59.619999|58.369999|         59.419998|12768200|         51.825539|
|2012-01-06 00:00:00|         59.419998|59.450001|58.869999|              59.0| 8069400|          51.45922|
|2012-01-09 00:00:00|         59.029999|59.549999|58.919998|             59.18| 6679300|51.616215000000004|
+-------------------+------------------+---------+---------+------------------+--------+------------------+
only showing top 5 rows

In [42]:
# Make observations about the schema.
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

The data has *integer, double and timestamp* values

In [43]:
# Show the first five  contents of the DataFrame
df.show(5)

+-------------------+------------------+---------+---------+------------------+--------+------------------+
|               Date|              Open|     High|      Low|             Close|  Volume|         Adj Close|
+-------------------+------------------+---------+---------+------------------+--------+------------------+
|2012-01-03 00:00:00|         59.970001|61.060001|59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04 00:00:00|60.209998999999996|60.349998|59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05 00:00:00|         59.349998|59.619999|58.369999|         59.419998|12768200|         51.825539|
|2012-01-06 00:00:00|         59.419998|59.450001|58.869999|              59.0| 8069400|          51.45922|
|2012-01-09 00:00:00|         59.029999|59.549999|58.919998|             59.18| 6679300|51.616215000000004|
+-------------------+------------------+---------+---------+------------------+--------+------------------+
only showing top 5 rows

In [44]:

#Use the describe method to learn about the data frame
df.describe().show()

+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

#Data Preparation
* Format all the data to 2 decimal places i.e. format_number()
* Create a new data frame with a column called HV Ratio that is the ratio of the
High Price versus volume of stock traded for a day

In [45]:
#format data to two dp

#import necessary libraries
from pyspark.sql.functions import round, col
import pyspark.sql.functions as F

for col_name, col_type in df.dtypes:
    if col_type in ('double', 'float'):
        df = df.withColumn(col_name, F.round(col_name, 2))  #round to 2 dp
#confirm the data is in 2dp
df.show(5)

+-------------------+-----+-----+-----+-----+--------+---------+
|               Date| Open| High|  Low|Close|  Volume|Adj Close|
+-------------------+-----+-----+-----+-----+--------+---------+
|2012-01-03 00:00:00|59.97|61.06|59.87|60.33|12668800|    52.62|
|2012-01-04 00:00:00|60.21|60.35|59.47|59.71| 9593300|    52.08|
|2012-01-05 00:00:00|59.35|59.62|58.37|59.42|12768200|    51.83|
|2012-01-06 00:00:00|59.42|59.45|58.87| 59.0| 8069400|    51.46|
|2012-01-09 00:00:00|59.03|59.55|58.92|59.18| 6679300|    51.62|
+-------------------+-----+-----+-----+-----+--------+---------+
only showing top 5 rows

In [51]:
from pyspark.sql.functions import col, format_number

# create a new column called "HV Ratio" that is the ratio of the High Price versus volume of stock traded for a day
new_df = df.withColumn("HV Ratio", col("High") / col("Volume"))

# print the updated data frame
new_df.show(5)

+-------------------+-----+-----+-----+-----+--------+---------+--------------------+
|               Date| Open| High|  Low|Close|  Volume|Adj Close|            HV Ratio|
+-------------------+-----+-----+-----+-----+--------+---------+--------------------+
|2012-01-03 00:00:00|59.97|61.06|59.87|60.33|12668800|    52.62|4.819714574387472E-6|
|2012-01-04 00:00:00|60.21|60.35|59.47|59.71| 9593300|    52.08|6.290848821573389...|
|2012-01-05 00:00:00|59.35|59.62|58.37|59.42|12768200|    51.83|4.669413073103491E-6|
|2012-01-06 00:00:00|59.42|59.45|58.87| 59.0| 8069400|    51.46|7.367338339901356E-6|
|2012-01-09 00:00:00|59.03|59.55|58.92|59.18| 6679300|    51.62|8.915604928660188E-6|
+-------------------+-----+-----+-----+-----+--------+---------+--------------------+
only showing top 5 rows

#Data Analysis
* What day had the Peak High in Price?
* What is the mean of the Close column?
* What is the max and min of the Volume column?
* How many days was the Close lower than 60 dollars?
* What percentage of the time was the High greater than 80 dollars?
* What is the Pearson correlation between High and Volume?
* What is the max High per year?
* What is the average Close for each Calendar Month?

In [55]:
# register RDD as a temporary table
from pyspark.sql import SQLContext
sqlCtx = SQLContext(sc)

new_df.createOrReplaceTempView('saf_stock')
tables = sqlCtx.tableNames()
print(tables)

['saf_stock']

In [63]:
#what day had peak high price?
sqlCtx.sql('select date, High from saf_stock order by High desc').show(1)

+-------------------+-----+
|               date| High|
+-------------------+-----+
|2015-01-13 00:00:00|90.97|
+-------------------+-----+
only showing top 1 row

In [68]:
#What is the mean of the Close column?

sqlCtx.sql('SELECT AVG(Close) AS avg_close FROM saf_stock').show()

+-----------------+
|        avg_close|
+-----------------+
|72.38844992050863|
+-----------------+

In [74]:
# What is the max and min of the Volume column?
sqlCtx.sql('SELECT MIN(Volume) AS min_vol, MAX(Volume) AS max_vol FROM saf_stock').show()

+-------+--------+
|min_vol| max_vol|
+-------+--------+
|2094900|80898100|
+-------+--------+

In [77]:
#How many days was the Close lower than 60 dollars?
sqlCtx.sql('SELECT COUNT(Close) as close_below60 FROM saf_stock WHERE Close < 60').show()

+-------------+
|close_below60|
+-------------+
|           81|
+-------------+

In [84]:
#What percentage of the time was the High greater than 80 dollars?
query ='SELECT (SELECT COUNT(High) FROM saf_stock where High > 80)*100/(select COUNT(High) from saf_stock) as Percentage  From saf_stock group by Percentage'
sqlCtx.sql(query).show()

+-----------------+
|       Percentage|
+-----------------+
|9.141494435612083|
+-----------------+

In [85]:
# What is the Pearson correlation between High and Volume?
from pyspark.sql.functions import corr
pearson_corr = new_df.select(corr("High", "Volume").alias("correlation")).collect()[0][0]
pearson_corr

-0.33843260582148915

In [91]:
# What is the max High per year?
sqlCtx.sql("SELECT year(Date) as year, max(High) as Max_High FROM saf_stock GROUP BY year(Date) ORDER BY Max_High DESC").show()

+----+--------+
|year|Max_High|
+----+--------+
|2015|   90.97|
|2014|   88.09|
|2013|   81.37|
|2012|    77.6|
|2016|   75.19|
+----+--------+

In [93]:
# What is the average Close for each Calendar Month?
sqlCtx.sql('select MONTH(Date), AVG(Close) as monthly_average from saf_stock group by MONTH(Date) order by MONTH(Date) asc').show()

+-----------+-----------------+
|month(Date)|  monthly_average|
+-----------+-----------------+
|          1|71.44801980198022|
|          2|71.30680412371134|
|          3|71.77794392523363|
|          4|72.97361904761907|
|          5|72.30971698113206|
|          6|72.49537735849057|
|          7|74.43971962616824|
|          8|73.02981818181819|
|          9|72.18411764705883|
|         10|71.57854545454546|
|         11|72.11108910891085|
|         12|72.84792452830189|
+-----------+-----------------+